[submodule ".registry"]
	path = .registry
	url = https://github.com/carpentries/carpentries.r-universe.dev
	branch = HEAD
[submodule "curl"]
	path = curl
	url = https://github.com/jeroen/curl
	branch = 5.2.1
[submodule "gert"]
	path = gert
	url = https://github.com/r-lib/gert
	branch = v2.0.0
[submodule "glosario"]
	path = glosario
	url = https://github.com/carpentries/glosario-r
[submodule "httpuv"]
	path = httpuv
	url = https://github.com/rstudio/httpuv
	branch = v1.6.15
[submodule "openssl"]
	path = openssl
	url = https://github.com/jeroen/openssl
	branch = v2.2.0
[submodule "pegboard"]
	path = pegboard
	url = https://github.com/carpentries/pegboard
	branch = 0.7.5
[submodule "ragg"]
	path = ragg
	url = https://github.com/r-lib/ragg
	branch = v1.3.2
[submodule "renv"]
	path = renv
	url = https://github.com/rstudio/renv
	branch = 0.17.0-38
[submodule "sandpaper"]
	path = sandpaper
	url = https://github.com/carpentries/sandpaper
	branch = 0.16.5
[submodule "stringi"]
	path = stringi
	url = https://github.com/gagolews/stringi
	branch = v1.8.4
[submodule "systemfonts"]
	path = systemfonts
	url = https://github.com/r-lib/systemfonts
	branch = v1.1.0
[submodule "textshaping"]
	path = textshaping
	url = https://github.com/r-lib/textshaping
	branch = v0.4.0
[submodule "tinkr"]
	path = tinkr
	url = https://github.com/ropensci/tinkr
[submodule "varnish"]
	path = varnish
	url = https://github.com/carpentries/varnish
	branch = 1.0.3
[submodule "xml2"]
	path = xml2
	url = https://github.com/r-lib/xml2
	branch = v1.3.6
[submodule "xslt"]
	path = xslt
	url = https://github.com/ropensci/xslt
	branch = v1.4.4
